name: OpenShift Build

on:
  push:
    branches:
      - main  # 트리거할 브랜치

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      
      - name: Set up OpenShift CLI
        uses: redhat-actions/oc-installer@v1
        with:
          openshift_server_url: ${{ secrets.OPENSHIFT_SERVER_URL }}
          openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}
      - name: Set up OpenShift Configuration
        run: |
          mkdir -p $HOME/.kube
          echo "$OPENSHIFT_CONFIG" > $HOME/.kube/config
        env:
          OPENSHIFT_CONFIG: ${{ secrets.OPENSHIFT_CONFIG }}


      - name: Trigger OpenShift Build
        run: oc start-build nginx --from-dir=project
